/* Media Queries */

@media screen and (max-width: 900px) {
  .flow-reply-row > .box:first-child {
    margin: 1.5em 0 !important;
  }

  .flow-reply-row > .box {
    margin: 1.5em 0 1em -0.5em !important;
    position: relative !important;
    z-index: 2 !important;
  }
}

@media screen and (max-width: 769px) {
  .right {
    margin-top: .5em;  
  }
}
